{{- if .Values.app.isAccessible }}
{{- if .Values.app.ingress.http }}
{{- range $i, $deployment := .Values.app.deployments }}
{{- if gt $deployment.routingSettings.weight 0.0}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $.Values.app.name }}-{{ $i }}-http-ingress
  annotations:
    {{- if $.Values.ingressController.className }}
    kubernetes.io/ingress.class: {{ $.Values.ingressController.className | quote }}
    {{- end }}
    {{- if gt $i 0 }}
    nginx.ingress.kubernetes.io/canary: "true"
    nginx.ingress.kubernetes.io/canary-weight: "{{ $deployment.routingSettings.weight }}"
    {{- end }}
    {{- $data := dict "kind" "Ingress" "apiVersion" "networking.k8s.io/v1" "metadataItems" $.Values.app.metadataAnnotations }}
    {{- include "ketch.renderMetadata" $data | nindent 4 }}
  labels:
    {{ $.Values.app.group }}/app-name: {{ $.Values.app.name | quote }}
spec:
  rules:
  {{- range $_, $cname := $.Values.app.ingress.http }}
  - host: {{ $cname }}
    http:
      paths:
      {{- range $_, $process := $deployment.processes }}
        {{- if $process.routable }}
      - backend:
          service:
            name: {{ printf "%s-%s-%v" $.Values.app.name $process.name $deployment.version }}
            port:
              number: {{ $process.publicServicePort }}
        pathType: ImplementationSpecific
        {{- end }}
      {{- end }}
  {{- end }}
{{- end }}
---
{{- end }}
{{- end }}
{{- end }}

{{- if .Values.app.isAccessible }}
{{- if .Values.app.ingress.https }}
{{- range $i, $deployment := .Values.app.deployments }}
{{- if gt $deployment.routingSettings.weight 0.0}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $.Values.app.name }}-{{ $i }}-https-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    {{- if gt $i 0 }}
    nginx.ingress.kubernetes.io/canary: "true"
    nginx.ingress.kubernetes.io/canary-weight: "{{ $deployment.routingSettings.weight }}"
    {{- end }}
  labels:
    {{ $.Values.app.group }}/app-name: {{ $.Values.app.name | quote }}
spec:
  {{- if $.Values.ingressController.className }}
  ingressClassName: {{ $.Values.ingressController.className | quote }}
  {{- end }}
  tls:
    {{- range $_, $https := $.Values.app.ingress.https }}
    - hosts:
        - {{ $https.cname }}
      secretName: {{ $https.secretName }}
    {{- end }}
  rules:
  {{- range $_, $https := $.Values.app.ingress.https }}
  - host: {{ $https.cname }}
    http:
      paths:
      {{- range $_, $process := $deployment.processes }}
      {{- if $process.routable }}
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ printf "%s-%s-%v" $.Values.app.name $process.name $deployment.version }}
              port:
                number: {{ $process.publicServicePort }}
        {{- end }}
      {{- end }}
  {{- end }}
  {{- end }}
---
{{- end }}
{{- end }}
{{- end }}
