name: Build and sign shipa binaries

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Go Version
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.1'
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: shipasoftware/ketch
          tag_with_ref: true
      - name: Build
        run: |
          go version
          echo $RELEASE_VERSION
          make generate
          mkdir -p bin
          mkdir /tmp/kustomize
          make install-kustomize KUSTOMIZE_INSTALL_DIR=/tmp/kustomize
          make create-controller-yaml KUSTOMIZE=/tmp/kustomize/kustomize IMG=shipasoftware/ketch:$RELEASE_VERSION
          cp ketch-controller.yaml bin/
          GOOS=linux GOARCH=amd64 go build  -ldflags="-X 'main.version=${RELEASE_VERSION:1}'" -o bin/ketch-linux-amd64 ./cmd/ketch/
          sha256sum bin/ketch-linux-amd64 > bin/ketch-linux-amd64.sha256sum
          GOOS=darwin GOARCH=amd64 go build -ldflags="-X 'main.version=${RELEASE_VERSION:1}'" -o bin/ketch-darwin-amd64 ./cmd/ketch/
      - name: upload binary artifacts
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: bin/

  release:
    needs: [build]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download-Binaries
        uses: actions/download-artifact@v2
        with:
          name: binaries
          path: bin/

      - name: Import Code-Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v1
        with:
          # The certificates in a PKCS12 file encoded as a base64 string
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_P12_BASE64 }}
          # The password used to import the PKCS12 file.
          p12-password: ${{ secrets.APPLE_DEVELOPER_CERTIFICATE_PASSWORD }}

      - name: Install gon via HomeBrew for code signing and app notarization
        run: |
          brew tap mitchellh/gon
          brew install mitchellh/gon/gon

      - name: Sign the mac binaries with Gon
        env:
          AC_USERNAME: ${{ secrets.AC_USERNAME }}
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
        run: |
          gon -log-level=debug -log-json ./gon.json

      - name: Cleanup
        run: |
          rm ./bin/ketch-darwin-amd64.zip
          chmod +x ./bin/ketch-linux-amd64
          chmod +x ./bin/ketch-darwin-amd64

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: bin/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true